
 body{ 
 font-family:"Buxton Sketch";
}
 *{
	box-sizing:border-box;
	text-decoration:none;
	list-style:none;
}
.Header{ background:#09f;}
.navbar a img{ border-radius:10px;}
.logo-txt{ display:inline-block;}
.logo-txt h5{ color:#fff;}
.logo-txt p{ font-size:13px; color:#fff;}

.navbar{ background:#0cf;}
.container-xl .col-md ul li a{ color:#6c757d; text-decoration:none; display:block;}
.container-xl .col-md ul li a:hover{ transform:scale(1.02); color:#000;}

.Men{ float:left; padding:0 10px;}
.Men .menbtn{ border:none; outline:none; background:none;}
.menbtn a{ color:#fff;}
.menbtn a:hover{ color:#0FF; text-decoration:none;}
.Men-content{
	display:none;
	position:absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 5;
	background:#fff;
	right:150px;

}
.Men:hover .Men-content {
  display: block;
}
.Men-content .col-md a{ color:#00F; padding:5px 0;}
.Men-content .col-md a:hover{ color:#ffc107;}
.Men-content .row{ padding:0 30px;}
  
.Men-content .ul{ list-style:none;}

.Women{ float:left; padding:0 10px;}
.Women .womenbtn{ border:none; outline:none; background:none;}
.womenbtn a{ color:#fff;}
.womenbtn a:hover{ color:#0FF; text-decoration:none;}
.Women-content{
	display:none;
	position:absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 5;
	background:#fff;
	right:150px;
	
}
.Women-content .col-md a{ color:#F0F; padding:5px 0;}
.Women-content .col-md a:hover{ color:#dc3545;}
.Women:hover .Women-content {
  display: block;
}
.Women-content .row{ padding:0 30px;}
  
.Women-content .ul{ list-style:none;}


.Kids{ float:left; padding:0 10px;}
.Kids .kidsbtn{ border:none; outline:none; background:none;}
.kidsbtn a{ color:#fff;}
.kidsbtn a:hover{ color:#0FF; text-decoration:none;}
.Kids-content{
	display:none;
	position:absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 5;
	background:#fff;
	right:150px;
	
}
.Kids-content .col-md a{ color:#F96; padding:5px 0;}
.Kids-content .col-md a:hover{ color:#20c997;}
.Kids:hover .Kids-content {
  display: block;
}
.Kids-content .row{ padding:0 30px;}
  
.Kids-content .ul{ list-style:none;}


.living{ float:left; padding:0 10px;}
.living .livingbtn{ border:none; outline:none; background:none;}
.livingbtn a{ color:#fff;}
.livingbtn a:hover{ color:#0FF; text-decoration:none;}
.living-content{
	display:none;
	position:absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 5;
	background:#fff;
	right:150px;
	
}
.living-content .col-md a{ color:#f2c210; padding:5px 0;}
.living-content .col-md a:hover{ color:#6f42c1;}
.living:hover .living-content {
  display: block;
}
.living-content .row{ padding:0 30px;}
  
.living-content .ul{ list-style:none;}


.Beauty{ float:left; padding:0 10px;}
.Beauty .Beautybtn{ border:none; outline:none; background:none;}
.Beautybtn a{ color:#fff;}
.Beautybtn a:hover{ color:#0FF; text-decoration:none;}
.Beauty-content{
	display:none;
	position:absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 5;
	background:#fff;
	right:150px;
	
}
.Beauty-content .col-md a{ color:#0db7af; padding:5px 0;}
.Beauty-content .col-md a:hover{ color:#dc3545;}
.Beauty:hover .Beauty-content {
  display: block;
}
.Beauty-content .row{ padding:0 30px;}
  
.Beauty-content .ul{ list-style:none;}


.Studio{ float:left; padding:0 10px;}
.Studio .Studiobtn{ border:none; outline:none; background:none;}
.Studiobtn a{ color:#fff;}
.Studiobtn a:hover{ color:#0FF; text-decoration:none;}
.Studio-content{
	display:none;
	position:absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 5;
	background:#fff;
	right:150px;
}
.Studio:hover .Studio-content {
  display: block;
}
.Studio-content .row{ padding:0 30px;}
  
.Studio-content .ul{ list-style:none;}

.badge-secondary{ color:#0FF; background:#fff;}
.badge-secondary:hover{ color:#17a2b8; background:#fff;}
.search{ float:left; padding:0 10px;}

.admin-pro{ float:right;}
.admin-pro .fa{ color:#fff;}
.admin-pro p{ color:#fff;}
.bag{ float:right; padding:0 20px;}
.bag .fa{ color:#fff;}
.bag p{ color:#fff;}

 navigation End 
 
 .carousel-item img{
	 width:100%;
	 height:auto;
}
 

 .pic{ width:100%;
 	   height:360px;
	   overflow:hidden;
	   position:relative;
	   }
 .pic-inner{
	 height:100%;
	 width:100%
	 }
 .pic-inner img{
	 height:100%;
	 width:100%;
	 }
 .carousel-indicators li{
	width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #09f;
}

 
 .offers{ margin:0; padding:20px 0; background:#f5f5f5;}
 .offers-inner{ margin:0 auto;}
 .off-prics{ padding-left:30px;}
 .off-prics h3{ text-transform:uppercase; display:inline-block; padding:10px 0;}
 .off-prics h5{ border:solid 1px #CCC; width:100%;}
 .off-prics span{ border:solid 1px #09F; background:#09f; color:#fff; padding:10px 15px; float:right; text-transform:capitalize;}
 .off-col{ display:inline-block; width:19.6%;}
 .mg20{ padding:0 10px;}

 .royaly{ margin:0; padding:0;}
 .royaly-inner{ margin:0 auto;}
 .royaly-inner img{ width:100%; height:auto; display:block;}
 

.tren {margin:0; padding:0; background:#f9f9f9;}
.tren-inner { margin:0 auto; padding:5rem 0 }
.treading {margin:0; padding:0 0 20px 0; }
.treading h5 {font-size:2rem; color:#333; font-weight:400; text-transform:capitalize; letter-spacing:0.5px; text-align:center}
.tren .col a img{width:100%; height:auto; z-index:1;}

.particular{ margin:0; padding:0;}
.parti-row{
	padding-bottom:50px;
}
.partical{
	margin:0 auto;
	padding:25px 0;
	padding-left:30px;
}
.partical h5{ font-size:26px; display:inline-block;}
.partical p{
	float:right;
	border:solid 1px #09F;
	background:#09F;
	color:#fff;
	padding: 10px 8px;
}
.partical h4{
	border:solid 1px #666;
	width:14%;
}
.parti-row .col img{ width:auto; height:110px;}
.parti-row .col h5{
	font-size:16px;
	padding:5px 0;
}
.parti-row .col span{
	color:#0C6;
}

.parti-row .col{ text-align:center;}

.parti-col p{
	padding:5px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

.product{ margin:0; padding:0;}
.product{ margin:0 auto; padding:40px 0;}
.product h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	text-transform:uppercase;
	padding-top:60px;
}
.product h2{
	padding-top:60px;
	}
.product h5{
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 0;
	font-size:14px;
}
.product .col-md{ padding:0 0 0 30px;}
.product .col-md-auto{ padding:0;}
.product .col-md-auto img{ width:99%;}

.share{ margin:0; padding:1px 0;}
.share-inner{
	margin:0 auto;
	text-align:center;
}
.share-inner h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:40px;
	padding:25px 0;
}
.share-inner h5{ padding-bottom:60px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.share h4{ border:solid 1px #CCC;}

.about{ margin:0; padding:0; background:#09F;}
.about-inner{ padding-top:30px;}

.about-inner h5{color:#ff0;}
.about-inner p a { color:#fff;}
.about-inner p a:hover{ text-decoration:underline;}
.about-inner p{ color:#fff;}















@media only screen and (min-width: 768px) {

} 